<!-- notes/templates/notes/note_list.html -->
{% extends 'base.html' %}
{% block title %}
Sticky Notes - {{ page_title }}
{% endblock %}
{% block content %}
<h2>
    <div class="container xy-4 txt-white">
        {{ page_title }}
    </div>
</h2>
<a href="{% url 'note_create' %}">Add Note</a>
<ul>
    <div class="container-fluid">
        <div class="row plc-center">
            {% for note in notes %}
            <li class="col-sm-3">
                <a href="{% url 'note_detail' pk=note.pk %}">{{ note.title }}</a>
                <p>{{ note.content }}</p>
            </li>
            {% empty %}
            {% endfor %}
        </div>
    </div>
</ul>
{% endblock %}